<ion-content  id="login" class="ion-padding">

  <topo-login></topo-login> <br/> 
  
  <form [formGroup]="loginForm" (submit) = "login()">

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" >Enviar</ion-button>

    </form>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col> 
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="if" > Esqueci minha senha </ion-button> 
  </ion-col>
    <ion-col> 
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="if" > Criar usuário</ion-button> 
  </ion-col>
  </ion-row>
</ion-footer>