<ion-content id="register" class="ion-padding">

  <topo-login title="Cadastrar usuário"> </topo-login>

  <form [formGroup]="loginForm" (submit) = "createUser()">

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" type="password" placeholder="Confirmar"></ion-input>
    </ion-item>

    <br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" >Enviar</ion-button>

    </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col> 
      <ion-button [routerLink]="['/auth']" fill="clear" color="if" > Voltar </ion-button> 
  </ion-col>
  </ion-row>
</ion-footer>