
#logo-div{
    text-align: center;
    display: flex;
    align-items: center; // vertical
    justify-content:center; //horizontal
    font-family: Andale Mono, monospace;
    h1 {
        text-shadow: 1px 1px;
        text-align: center;
    }
}
